---
import Badge from '../../components/Badge/Badge';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge component</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex-container">
      <div class="row">
        <Badge size="small" label="Label" status="neutral" />
        <Badge size="medium" label="Label" status="neutral" />
        <Badge size="large" label="Label" status="neutral" />
      </div>
      <div class="row">
        <Badge size="small" label="Label" status="error" />
        <Badge size="medium" label="Label" status="error" />
        <Badge size="large" label="Label" status="error" />
      </div>
      <div class="row">
        <Badge size="small" label="Label" status="warning" />
        <Badge size="medium" label="Label" status="warning" />
        <Badge size="large" label="Label" status="warning" />
      </div>
      <div class="row">
        <Badge size="small" label="Label" status="success" />
        <Badge size="medium" label="Label" status="success" />
        <Badge size="large" label="Label" status="success" />
      </div>
      <div class="row">
        <Badge size="small" label="Label" status="brand" />
        <Badge size="medium" label="Label" status="brand" />
        <Badge size="large" label="Label" status="brand" />
      </div>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .grid-container {
    display: flex;
    /* grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto); */
    gap: 24px;
  }
</style>
