---
import Badge from '@components/Badge/Badge.vue';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge component</title>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex-container">
      <div class="row">
        <Badge size="sm" label="Label" color="neutral" />
        <Badge size="md" label="Label" color="neutral" />
        <Badge size="lg" label="Label" color="neutral" />
      </div>
      <div class="row">
        <Badge size="sm" label="Label" color="error" />
        <Badge size="md" label="Label" color="error" />
        <Badge size="lg" label="Label" color="error" />
      </div>
      <div class="row">
        <Badge size="sm" label="Label" color="warning" />
        <Badge size="md" label="Label" color="warning" />
        <Badge size="lg" label="Label" color="warning" />
      </div>
      <div class="row">
        <Badge size="sm" label="Label" color="success" />
        <Badge size="md" label="Label" color="success" />
        <Badge size="lg" label="Label" color="success" />
      </div>
      <div class="row">
        <Badge size="sm" label="Label" color="brand" />
        <Badge size="md" label="Label" color="brand" />
        <Badge size="lg" label="Label" color="brand" />
      </div>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .row {
    display: flex;
    gap: 1.5rem;
  }
</style>
