---
import Dropdown from '@components/Dropdown/Dropdown.vue';
import { options } from '@components/Dropdown/config.ts';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropdown</title>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <Dropdown
        options={options}
        hasIcon
        placeholder="Select"
        modelValue={''}
        client:load
      />

      <!-- <Dropdown
        options={options}
        hasIcon={false}
        placeholder="Select"
        modelValue={''}
        client:load
      /> -->
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Noto Sans';
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
</style>
