---
import Button from '@components/Button/Button.vue';
import { Icon } from 'astro-icon/components';
import '@styles/global.css';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="buttons_container">
      <div class="row">
        <Button label="button CTA" variant="primary" size="md" />

        <Button label="button CTA" variant="primary" size="lg" client:load>
          <Icon name="star" slot="iconLeft" />
        </Button>

        <Button label="button CTA" variant="primary" size="xl" client:load>
          <Icon name="star" slot="iconRight" />
        </Button>

        <Button label="button CTA" variant="primary" size="xxl" />

        <Button variant="primary" size="xxl" client:load>
          <Icon name="star" slot="iconOnly" />
        </Button>
      </div>
      <div class="row">
        <Button label="button CTA" variant="secondary" size="md" />

        <Button label="button CTA" variant="secondary" size="lg" client:load>
          <Icon name="star" slot="iconLeft" />
        </Button>

        <Button label="button CTA" variant="secondary" size="xl" client:load>
          <Icon name="star" slot="iconRight" />
        </Button>

        <Button label="button CTA" variant="secondary" size="xxl" />

        <Button variant="secondary" size="xxl" client:load>
          <Icon name="star" slot="iconOnly" />
        </Button>
      </div>
      <div class="row">
        <Button label="button CTA" variant="tertiary" size="md" />

        <Button label="button CTA" variant="tertiary" size="lg" client:load>
          <Icon name="star" slot="iconLeft" />
        </Button>

        <Button label="button CTA" variant="tertiary" size="xl" client:load>
          <Icon name="star" slot="iconRight" />
        </Button>

        <Button label="button CTA" variant="tertiary" size="xxl" />

        <Button variant="tertiary" size="xxl" client:load>
          <Icon name="star" slot="iconOnly" />
        </Button>
      </div>
      <div class="row">
        <Button label="button CTA" variant="link-color" size="md" />

        <Button label="button CTA" variant="link-color" size="lg" client:load>
          <Icon name="star" slot="iconLeft" />
        </Button>

        <Button label="button CTA" variant="link-color" size="xl" client:load>
          <Icon name="star" slot="iconRight" />
        </Button>

        <Button label="button CTA" variant="link-color" size="xxl" />

        <Button variant="link-color" size="xxl" client:load>
          <Icon name="star" slot="iconOnly" />
        </Button>
      </div>
      <div class="row">
        <Button label="button CTA" variant="link-gray" size="md" />

        <Button label="button CTA" variant="link-gray" size="lg" client:load>
          <Icon name="star" slot="iconLeft" />
        </Button>

        <Button label="button CTA" variant="link-gray" size="xl" client:load>
          <Icon name="star" slot="iconRight" />
        </Button>

        <Button label="button CTA" variant="link-gray" size="xxl" />

        <Button variant="link-gray" size="xxl" client:load>
          <Icon name="star" slot="iconOnly" />
        </Button>
      </div>
      <div class="row">
        <Button label="button CTA" variant="destructive" size="md" />

        <Button label="button CTA" variant="destructive" size="lg" client:load>
          <Icon name="star" slot="iconLeft" />
        </Button>

        <Button label="button CTA" variant="destructive" size="xl" client:load>
          <Icon name="star" slot="iconRight" />
        </Button>

        <Button label="button CTA" variant="destructive" size="xxl" />

        <Button variant="destructive" size="xxl" client:load>
          <Icon name="star" slot="iconOnly" />
        </Button>
      </div>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 110px 0px;
    flex-wrap: wrap;
  }

  .buttons_container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .row {
    display: flex;
    align-items: center;
    max-width: 695px;
    gap: 20px;
    flex-wrap: wrap;
  }
</style>
