<html>
  <base href="{import.meta.env.BASE_URL}" />
  <body>
    <h1>Hi GHS devs and welcome to my newly created component library</h1>
    <p>
      As I just started not all components are ready yet, here is a list (feel free to
      test responsivness)
    </p>
    <div>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/testimonial-card/"
          >Testimonial card</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/blog-card/"
          >Blog card</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/profile-card/"
          >Profile card</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/badge/"
          >Badge component</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/button/">Button</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/navbar/">Navbar</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/text-input/"
          >Text input</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/text-area/"
          >Text area</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/tabs-menu/"
          >Tabs menu</a
        >
      </li>
      <li>
        <a href="https://emmanuelplougoulm.github.io/components_library/tabs-component/"
          >Tabs component</a
        >
      </li>
    </div>
  </body>
</html>
