---
import { Icon } from 'astro-icon/components';
---

<html>
  <base href="{import.meta.env.BASE_URL}" />
  <body>
    <div class="content">
      <div class="presentation">
        <h1 class="title">
          Hi visitors, I am thrilled to introduce my brand new design system built with
          Vue 3. This project is the result of many hours of work an reflection. I am
          excited to share with you the details of its design and features.
        </h1>

        <h2 class="subtitle">Why a Design System?</h2>

        <p class="paragraph">
          For several years, I have been working on <strong>user interfaces</strong> involving
          the creation of common components such as buttons, text inputs, and more. Different
          teams often adopt different approaches to implementing <strong
            >similar designs and logic</strong
          >, which can lead to inconsistencies. As I aim to deepen my expertise in areas
          such as <strong>frontend architecture</strong>, I needed a library that would
          accelerate the development process and allow me to focus more on how information
          flows rather than on visual details. A design system plays a crucial role in
          ensuring consistency and efficiency in application development. By standardizing
          components, styles, and best practices, it facilitates seamless collaboration
          between designers and developers.
        </p>

        <h2 class="subtitle">Why Vue?</h2>

        <p class="paragraph">
          Although I am proficient in both <strong>React and Vue</strong>, I opted for Vue
          3 for this project because of its reactive data binding, flexibility, and strong
          community support. Vue 3 offers enhanced performance, improved state management,
          and a
          <strong>more intuitive syntax</strong>, making it an excellent choice for
          developing a modern and <strong>scalable design system</strong>
        </p>

        <h2 class="subtitle subtitle__next">Next steps are:</h2>
        <ul>
          <li class="next">
            <a href="https://emmanuelplougoulm.github.io/components_library/storybook/">
              <Icon name="storybook" />
            </a>Storybook setup for interactive testing - Try it !
          </li>
          <li class="next">
            <a href="https://playwright.dev/">
              <Icon name="playwright" />
            </a>Playwright setup for end-to-end testing
          </li>
        </ul>
        <div class="spacer"></div>
        <div class="technos">
          Made with
          <a href="https://vuejs.org/">
            <Icon name="vue" />
          </a>
          and
          <a href="https://astro.build/">
            <Icon name="astro" />
          </a>
          / Visit
          <a class="website" href="https://eplougoulm.dev"> eplougoulm.dev </a>
        </div>
      </div>
      <div class="projects">
        <h2 class="subtitle">Design system</h2>
        <ul>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/badge/"
              >Badge component</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/button/"
              >Button</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/navbar/"
              >Navbar</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/text-input/"
              >Text input</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/text-area/"
              >Text area</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/radio-button/"
              >Radio button</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/tabs-menu/"
              >Tabs menu</a
            >
          </li>
          <li>
            <a
              href="https://emmanuelplougoulm.github.io/components_library/tabs-component/"
              >Tabs component</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/toggle/"
              >Toggle</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/tooltip/"
              >Tooltip</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/checkbox/"
              >Checkbox</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/pagination/"
              >Pagination</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/dropdown/"
              >Dropdown</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/modal/"
              >Modal</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/toast/"
              >Toast</a
            >
          </li>
        </ul>

        <h2 class="subtitle">Marketing components</h2>
        <ul>
          <li>
            <a
              href="https://emmanuelplougoulm.github.io/components_library/testimonial-card/"
              >Testimonial card</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/blog-card/"
              >Blog card</a
            >
          </li>
          <li>
            <a href="https://emmanuelplougoulm.github.io/components_library/profile-card/"
              >Profile card</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
    }

    body {
      padding: 30px;
      font-family: 'Noto Sans', sans-serif;
      height: 100vh;
    }

    .content {
      display: flex;
      height: 100%;
    }

    .presentation,
    .projects {
      align-self: stretch;
      display: flex;
      flex-direction: column;
    }

    .presentation {
      width: 700px;
      margin-right: 100px;
    }

    .title {
      font-size: 16px;
      margin-bottom: 20px;
      font-weight: 700;
      color: rgb(33, 53, 71);
    }

    .subtitle {
      font-size: 16px;
      color: rgb(33, 53, 71);
      margin-bottom: 10px;
    }

    .paragraph {
      color: rgb(33, 53, 71);
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 40px;
      font-size: 14px;
    }

    .next {
      color: rgb(33, 53, 71);
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
    }

    .subtitle.subtitle__next {
      margin-top: 40px;
    }

    .spacer {
      flex-grow: 1;
    }

    .projects a,
    .website {
      font-size: 13px;
      color: rgb(66, 184, 131);
      text-decoration: none;
    }

    .projects a:hover,
    ,
    .website {
      text-decoration: underline;
      color: rgb(33, 53, 71);
    }

    .technos {
      display: flex;
      align-items: center;

      gap: 4px;
      font-size: 14px;
    }

    .technos a svg {
      align-self: baseline;
    }
  </style>
</html>
